<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" routerLink="/index.html"><img src="assets/images/bblogo.png" alt="logo" class="img-fluid"
        style="width: 150px;"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav  mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categories
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Friuts</a></li>
            <li><a class="dropdown-item" href="#">Vegetables</a></li>
            <li><a class="dropdown-item" href="#">House Clinic</a></li>

          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Pages
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">About</a></li>
            <li><a class="dropdown-item" href="#">Contact Us</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">Contact Us</a>
        </li>

        <li class="nav-item">
          <button class="btn btn-primary me-2"><a href="">Login</a></button>
        </li>
        <li class="nav-item">
          <button class="btn btn-warning"><a href="">SignUp</a></button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>